.grid-container {
    display: flex; 
    display: grid; 
    border: 4px solid green;
    position: absolute; 
    width: 400px;
    height: 500px; 
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
}

.button-container {
    border: 4px red solid; 
    width: 200px; 
    height: 500px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-300px, -50px);
}

h1 {
    top: 50%;
    left: 50%; 
    transform: translate(-150px,-250px);
    position: absolute;
}